@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

body {
  background-color: rgb(57, 56, 56);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  margin: 0 auto;
  height: 300px;
  width: 500px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 30px;
  border-radius: 20px;
  transition: all 0.5s;
}

.box:hover {
  border: 1px solid white;
  box-shadow: 0px 0px 15px white;
}

input {
  width: 300px;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  padding: 15px 20px;
  margin: 21px;
  color: white;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background-color: transparent;
  border: 1px solid white;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 600;
  padding: 10px 24px;
  border-radius: 21px;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background-color: black;
  color: white;
}

h1,
h2 {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}